<div class="login-wrapper">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submitForm(loginForm.value)"
    class="example-form"
    fxLayout="column wrap"
    fxLayoutAlign="center center" >
    <mat-form-field class="form-field">
      <input matInput placeholder="Email" type="text" formControlName="email">
      <mat-error *ngIf="isFieldInvalid('email')">
        Please inform your email
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="isFieldInvalid('email')">
        Please inform your password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary"
            type="submit"
            routerLink="/demographics"
            routerLinkActive="active"
            [disabled]="!loginForm.valid"
    >Login</button>
  </form>
</div>
