
<div style="margin: 20px;">
  <form [formGroup]="inputGroup" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Title" type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="First Name" type="text" formControlName="firstName">
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Last Name" type="text" formControlName="lastName">
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Cell Phone" formControlName="cellPhone"  [textMask]="maskPhone"  type="text" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" >
      <input matInput placeholder="Home" formControlName="home" [textMask]="maskPhone" type="text" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">

      <input matInput placeholder="Work" formControlName="work" [textMask]="maskPhone" type="text" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="40" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Email" type="email"  formControlName="email" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Preferred Contact" formControlName="referralSource">
        <mat-option *ngFor="let contact of preferredContactList" value="contact">
          {{contact.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="40" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Address" type="text" formControlName="address" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Address2" type="text" formControlName="address2" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="Zip" type="number" formControlName="zip" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" >
      <input matInput placeholder="City" type="text" formControlName="city" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="State" type="text" formControlName="state">
    </mat-form-field >
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input
        [matDatepicker]="picker"
        class="hidden-input"
        type="hidden"
        name="birtday_picker"
        #birtday_picker
        (change)="birtday_mask.value = birtday_picker.value"
      >
      <input
        matInput
        type="text"
        name="birtday_mask"
        formControlName="dateOfBirth"
        placeholder="Date Of Birth"
        [textMask]="maskDate"
        #birtday_mask
        (change)="birtday_picker.value = birtday_mask.value"
      >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <input matInput placeholder="SSN" type="text" formControlName="ssn" >
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Referral Source" formControlName="referralSource">
        <mat-option *ngFor="let sources of referrelSourceList" value="sources">
          {{sources.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Language" formControlName="language">
        <mat-option *ngFor="let lang of languageList" value="lang">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Work Status" formControlName="workStatus">
        <mat-option *ngFor="let workStatus of workStatusList" value="workStatus">
          {{workStatus.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Employer" formControlName="employer">
        <mat-option >
          some text
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Race" formControlName="race">
        <mat-option *ngFor="let race of raceList" value="race">
          {{race.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100">
      <mat-select placeholder="Ethnicity" formControlName="ethnicity">
        <mat-option *ngFor="let eth of ethnicityList" value="eth">
          {{eth.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex.xl="20" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="45" fxFlex.xs="100" class="gender-container">
      <p class="mat-typography gender-placeholder">Gender</p>
      <mat-radio-group fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
