<div class="medical-history-wrapper">
  <form
    [formGroup]="medicalHistoryForms"
    class="mh-form"
    fxLayout="row wrap"
    fxLayoutAlign="start center"
  >


    <div fxLayout="row wrap"
         fxLayoutAlign="start center"
         fxLayoutGap="20px"
         fxFlex="100"
         class="mat-typography mat-input-cont"
    >
      <h3 fxFlex="100">Surgeries</h3>
      <div formArrayName="surgeries"
           *ngFor="let surgery of surgeries.controls; let i=index"
           fxFlex.lg="82"
           fxFlex.md="82"
           fxFlex.sm="82"
      >
        <div fxLayout="row wrap"
             fxLayoutAlign="start center"
             fxLayoutGap="20px"
             fxFlex.lg="100"
             fxFlex.md="100"
             fxFlex.sm="100"
             [formGroupName]="i">
          <mat-form-field fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="60">
            <input type="text" matInput placeholder="Type Surgery"  formControlName="surgeriesType">
          </mat-form-field>
          <mat-form-field fxFlex.lg="35" fxFlex.md="35" fxFlex.sm="35">
            <input type="text" matInput [textMask]="maskDate" placeholder="Date of Surgery" formControlName="dateOfSurgery">
          </mat-form-field>
        </div>
      </div>
      <button class="mat-btn" mat-mini-fab color="primary" (click)="addSurgeries()" ><i class="material-icons">add</i></button>
      <button class="mat-btn" mat-mini-fab color="warn"
              *ngIf="surgeries.controls.length > 1"
              (click)="deleteGroup(i, 'surgeries')"><i class="material-icons">clear</i></button>
    </div>



    <div class="mat-typography mat-input-cont"
         fxLayout="row wrap"
         fxLayoutAlign="start center"
         fxLayoutGap="20px"
         fxFlex="100"
    >
      <h3 fxFlex="100">Injuries/Hospitalizations</h3>
      <div fxFlex.lg="82"
           fxFlex.md="82"
           fxFlex.sm="82"
           formArrayName="injuries"
           *ngFor="let injury of injuries.controls; let i=index"
      >
        <div fxLayout="row wrap"
             fxLayoutAlign="start center"
             fxLayoutGap="20px"
             fxFlex.lg="100"
             fxFlex.md="100"
             fxFlex.sm="100"
             [formGroupName]="i">
          <mat-form-field fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="60">
            <input type="text" matInput placeholder="Type of Injury" formControlName="typeOfInjury" >
          </mat-form-field>
          <mat-form-field fxFlex.lg="35" fxFlex.md="35" fxFlex.sm="35">
            <input type="text" matInput [textMask]="maskDate" placeholder="Date of Injury" formControlName="dateOfInjury">
          </mat-form-field>
        </div>
      </div>
      <button class="mat-btn" mat-mini-fab color="primary" (click)="addInjuries()"><i class="material-icons">add</i></button>
      <button class="mat-btn" mat-mini-fab color="warn"
              *ngIf="injuries.controls.length > 1"
              (click)="deleteGroup(i, 'injuries')"><i class="material-icons">clear</i></button>
    </div>





    <div fxLayout="row wrap"
         fxLayoutAlign="start center"
         fxLayoutGap="20px"
         fxFlex="100"
         class="mat-input-cont"
    >
      <mat-form-field fxFlex.lg="46" fxFlex.md="46" fxFlex.sm="46">
        <input type="text" matInput [textMask]="maskDate" placeholder="Last Medical Exam" formControlName="lastMedicalExam">
      </mat-form-field>
      <mat-slide-toggle
        color="primary"
        *ngFor="let elem of toggleList"
        [formControlName]="elem.id"
        fxFlex.lg="45"
        fxFlex.md="45"
        fxFlex.sm="45"
      >
        <p class="slide-toggle-text">{{elem.name}}</p>
      </mat-slide-toggle>
    </div>
    <mat-form-field fxFlex>
      <input type="text" matInput placeholder="Other Medical Conditions" formControlName="otherMedicalConditions">
    </mat-form-field>
  </form>
</div>
