<div class="family-history-page">
  <ul>
    <li>
      <mat-card
        *ngFor="let illness of illnessList"
        (click)="openDialog(illness)"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
      >
        <mat-card-title
          fxFlex.lg="30"
          fxFlex.md="30"
          fxFlex.sm="30"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <h6>{{illness.title}}</h6>
        </mat-card-title>
        <mat-card-content
          fxFlex
          fxLayout="row wrap"
          fxLayoutAlign="start center"
        >
          <p class="mat-card-content-text"
          >
            {{illness.members | selectedMembers}}
          </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row wrap"
                          fxLayoutAlign="start center"
        >
          <i class="material-icons">keyboard_arrow_right</i>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
