<div class="wrapper">
  <ul>
    <li><a>Arthritis</a></li>
    <li><a>Blindness</a></li>
    <li><a>Cancer</a></li>
    <li><a>Corneal Disease</a></li>
    <li><a>Crossed Eyes</a></li>
    <li><a>Diabetes</a></li>
    <li><a>Glaucoma</a></li>
    <li><a>Heart Disease</a></li>
    <li><a>High Cholesterol</a></li>
    <li><a>Kidney Disease</a></li>
    <li><a>Lazy Eye</a></li>
    <li><a>Lupus</a></li>
    <li><a>Macular Degeneration</a></li>
    <li><a>Retinal Disease</a></li>
    <li><a>Thuroid Disease</a></li>
  </ul>
</div>
