mat-card {
  padding: 20px;

  mat-card-title, mat-card-content, mat-card-actions {
    margin: 0;
    padding: 0;

    .mat-card-content-text {
      font-size: 17px;
    }
  }

  .mat-card-actions {
    padding-bottom: 16px;
  }
}
