<div class="ocular-history-wrapper">
  <form [formGroup]="ocularHistoryForms"
        fxLayout="row wrap"
        fxLayoutAlign="start center"
  >
    <mat-form-field fxFlex="100">
      <input matInput placeholder="Last Vision Exam" type="text" formControlName="lastVisionExam" [textMask]="maskDate">
    </mat-form-field>

    <div class="ocular-toggle-cont mat-typography"
         fxLayout="row wrap"
         fxLayoutAlign="start center"
         fxLayoutGap="20px"
         fxFlex="100"
    >
      <mat-slide-toggle
        class="ocular-toggle"
        *ngFor="let toggle of toggleOcularList"
        [formControlName]="toggle.groupName"
        color="primary"
        fxFlex.lg="47"
        fxFlex.md="47"
        fxFlex.sm="47"
      >
        <p class="slide-toggle-text">{{toggle.value}}</p>
      </mat-slide-toggle>
    </div>

    <mat-form-field fxFlex="100">
      <input matInput placeholder="Other Eye Conditions" type="text" formControlName="otherEyeConditions">
    </mat-form-field>
  </form>
</div>
