.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.main-content {
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;

}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
