<mat-dialog-content class="toggle-container" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title><h4>{{title}}</h4></mat-card-title>
    <mat-card-content>
      <ul fxLayout="column" fxLayoutAlign="start">
        <li *ngFor="let member of selectedMembers">
          <mat-slide-toggle
            color="primary"
            labelPosition="before"
            [(ngModel)]="member.isSelected"
          ><h4>{{member.name}}</h4></mat-slide-toggle>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()">Done</button>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>

