<div class="family-member-container" fxLayout="column wrap" fxLayoutAlign="center center">
  <div mat-dialog-title >
    <h4>{{title}}</h4>
  </div>
  <mat-dialog-content class="family-member-content" fxLayout="column wrap" fxLayoutAlign="center center">
    <ul fxFlex>
      <li
        *ngFor="let member of selectedMembers"
        fxLayoutAlign="start center"
      >
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="member.isSelected"
        >
          <p class="slide-toggle-text">{{member.name}}</p>
        </mat-slide-toggle>
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions class="family-member-action">
    <button
      mat-raised-button
      color="primary"
      (click)="save()"
    >Done</button>
  </mat-dialog-actions>
</div>

