<div class="footer-wrapper">
  <mat-toolbar class="footer-container" *ngIf="_isLoggedIn$ | async">
    <mat-toolbar-row
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <div fxFlex="12">
        <button
          *ngIf="showPage"
          mat-raised-button
          color="primary"
          [routerLink]="previousPage"
          routerLinkActive="active"
        >
          Previos
        </button>
      </div>
      <span class="page-number">{{ (page$ | async)?.pageNumber }} of 3</span>
      <button
        mat-raised-button
        color="primary"
        [routerLink]="nextPage"
        routerLinkActive="active"
        (click)="setFormValue()"
      >
        {{buttonValue}}
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
