<div class="footer-wrapper">
  <mat-toolbar class="footer-container">
    <mat-toolbar-row
      fxLayout="row wrap"
      fxLayoutAlign="space-between center"
    >
      <button mat-raised-button color="primary" routerLink="/demographics" routerLinkActive="active">Previos</button>
      <span class="page-number">{{pageNumber}}</span>
      <button mat-raised-button color="primary" routerLink="/family-history" routerLinkActive="active">Next</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
